/* GLOBAL STYLES */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
}

button{
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 3px;
    padding-block: 4px;
    padding-inline: 15px;
}
/* SECTION: HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

h1{
    color: white;
    font-size: medium;
    margin-left: 80px;
}

.header-links{
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin-right: 80px;
}

li{
    display: inline;
}

a{
    color: white;
    text-decoration: none;
    font-size: small;
}


/* SECTION: MAIN */
.main-content{
    display: flex;
    flex-direction: column;
    border: solid orange;
    flex: 1;
}

/* subsection: section-1 */
.section-1{

}

.section-1 h2{

}

.section-1-text{

}

.button-1{

}

.placeholder-image{

}

/* subsection: section-2 */
.section-2{
    
}

.section-2 h2{

}

.box-text{

}

.box{

}

.text{

}

/* subsection: section-3 */
.section-3{
    
}

.quote{

}

/* subsection: section-4 */
.section-4{
    
}

.CTA-text-1{

}

.CTA-text-2{

}

.button-2{

}

/* SECTION: FOOTER */
.footer{
    display: flex;
    border: solid red;
}

.copyright{

}
