/* GLOBAL STYLES */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 3px;
    padding-block: 4px;
    padding-inline: 15px;
}
/* SECTION: HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    flex-basis: 50px;
}

h1{
    color: white;
    font-size: medium;
    margin-left: 150px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin-right: 80px;
}

li{
    display: inline;
}

a{
    color: white;
    text-decoration: none;
    font-size: small;
}


/* SECTION: MAIN */
.main-content{
    display: flex;
    flex-direction: column;
    border: solid orange;
    flex: 1;
}

/* subsection: section-1 */
.section-1{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    gap: 30px;
    padding: 50px;
}

.section-1-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 90px;
    flex-basis: 500px;
    max-height: 150px;
    gap: 5px;
}

.placeholder-image{
    width: 500px;
    height: 155px;
    margin-right: 80px;
    background-color: grey;
}

.section-1 h2{
    font-size: xx-large;
    flex-wrap: wrap;
    color: white
}

.section-1-text{
    font-size: small;
    flex-wrap: wrap;
    margin: none;
    padding: none;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.782);
}

.button-1{
    align-self: start;
    margin: 0;
    flex-wrap: wrap;
}


/* subsection: section-2 */
.section-2{
    
}

.section-2 h2{

}

.box-text{

}

.box{

}

.text{

}

/* subsection: section-3 */
.section-3{
    
}

.quote{

}

/* subsection: section-4 */
.section-4{
    
}

.CTA-text-1{

}

.CTA-text-2{

}

.button-2{

}

/* SECTION: FOOTER */
.footer{
    display: flex;
    border: solid red;
}

.copyright{

}
